<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270175615151-eh7m8ko2tv9dnc8so9fupfr0bmlrfb1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270175615151-eh7m8ko2tv9dnc8so9fupfr0bmlrfb1v</string>
	<key>API_KEY</key>
	<string>AIzaSyCZGRwBftUjp23xSYX1nSAS3XLgyqAcy8I</string>
	<key>GCM_SENDER_ID</key>
	<string>270175615151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trading.newsReminderApp</string>
	<key>PROJECT_ID</key>
	<string>news-reminder-app</string>
	<key>STORAGE_BUCKET</key>
	<string>news-reminder-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270175615151:ios:2209742010abe9a4fcfc5a</string>
</dict>
</plist>